
<a class="btn btn-sm btn-default delete_link" href="{{ admin.generateObjectUrl('projectDeleteRow', object) }}" onclick="return confirm('สินค้าทุกชิ้นภายใต้โปรเจคจะถูกลบออกจากระบบไปด้วย คุณแน่ใจว่าต้องการลบโปรเจคนี้?')">Delete</a>
